<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>TODO write content</div>
        <div >
            <table>
            <thead>
                <tr>
                    <th>Job Position</th>
                    <th>Skills Description</th>
                </tr>
            </thead>
            <tbody th:remove="all-but-first">
                <tr th:each="jobPosition : ${jobPositions}">
                    <td th:text="${jobPosition.positionTitle}">chair</td>
                    <td th:text="${jobPosition.positionDescription}"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>
